html, body {
  --color1:#FAE7C9;
  --color2:#E1C78F;
  --color3:#B0926A;
  --color4:#706233;

  background-color: var(--color1);
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding-top: 60px;
  padding-bottom: 140px;
  overflow-x: hidden;
  margin: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
}
