:root {
  --color1:#FAE7C9;
  --color2:#E1C78F;
  --color3:#B0926A;
  --color4:#706233;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  padding: 7px;
  width: 100%;
  left: 0;
  z-index: 999;
  background-color: var(--color4);
}

.navbar-elements {
  display: flex;
  list-style: none;
  justify-content: center;

  max-width: 100vw;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}


.navbar-elements li {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-elements li:hover {
  background-color: var(--color3);
}

.navbar-elements li a{
  text-decoration: none;
  color: white;
}

.navbar-elements li a:hover {
  text-decoration: underline;
}
